<main>
  <form
    hidden
    action="/dpupload"
    id="uploadDpForm"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="file" name="dp" />
  </form>
  <div class="section1">
    <div class="profile-dp">
      <span id="uploadDp" class="pencil-icon">
        <i class="ri-pencil-fill pencil"></i>
      </span>

      <div class="dp">
        <img src="/images/uploads/<%=user.dp%>" alt="" class="profile-pic" />
      </div>
    </div>

    <h2 class="fullname"><%= user.fullName%></h2>
    <h4 class="username">@<%= user.username%></h4>
    <a href="/edit" class="edit">Edit</a>
    <button class="pin-create" onclick="window.location.href= '/create'">
      Create
    </button>
  </div>

  <% if (user.posts.length == 0) {%>
  <div class="section2">
    <p>Nothing to show...yet! Pins you create will live here.</p>

    <!-- <button class="pin-create">Create Pin</button> -->
  </div>
  <%} else {%>
  <div class="pins">
    <div class="card">
      <div class="pin">
        <img
          src="/images/uploads/<%=user?.posts[0]?.image%>"
          class="pin-image"
        />
      </div>
      <h3 class="">All pins</h3>
      <h5><%=user.posts.length%> Pins</h5>
    </div>
  </div>
  <%}%>
</main>

<!-- <div class="modal">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="postText" placeholder="Add a title" />
    <input type="file" name="file" />
    <button type="submit" class="pin-create">Create Pin</button>
  </form>
</div> -->
